h3 {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
}
.input_box {
    margin-left: auto;
    margin-right: auto;
}
.not_p {
     font-family: Arial;
     font-size: 13px;
     text-align: center;
     width: 400px;
     margin-left: auto;
     margin-right: auto;
 }
.button_cont {

}
.button_facebook {

}
